<%- include('../partials/nav') %> 
<section id="show-page">
    <div>Airline: <%= flight.airline %> </div><br>
    <div>Airport: <%= flight.airport %></div><br>
    <div>Flight Number: <%= flight.flightNo %></div><br>
    <div>Departure Time: <%= flight.departs %></div><br>
    <div>Destination: <%- flight.destination.map((d) => `<li> ${d.destination} </li>` ).join('') %></div><br>
        <form id="add-destination-to-airport" action="/flights/<%= flight._id %>/destinations" method="POST">
            <select name="destination">
                <%- destinations.map((d) => `<option value="${d._id}">${d.destination}</option>`) %>
            </select>
            <button type="submit" class="btn btn-info">Add Destination</button>
        </form><br>
</section>

